body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(10, 10, 10);
  ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading {

  text-align: center;
  margin-top: 4rem;
  margin-bottom: 5rem;
  font-size: 4rem;
  color: white;
}

.form-container {
  display: flex;
  align-self: center;
  justify-content: center;

}

.analyze-form {
  display: flex;
  width: 40rem;
  flex-direction: column;
  gap: 50px;
}

.analyze-form label {
  font-size: 1em;
  text-align: left;
}

.analyze-form input {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.analyze-form button {
  padding: 10px;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 15rem;
}

.analyze-form button:hover {
  background-color: #0056b3;
}

.output-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.video_display {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: large;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  height: 450px;
  width: 600px;
}